{% extends 'starter.html' %}
{% load my_tags %}

{% block content %}
    <a href="{% url_encode request 'app01:customer_add' %}" class="btn btn-primary">添加客户</a>
    <form class="navbar-form navbar-left float-right" role="search" method="get">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <select class="form-control" name="search_model">
                    <option value="qq__icontains" {% if search_model == 'qq__icontains' %}
                            selected
                    {% endif %} >QQ
                    </option>
                    <option value="name__icontains" {% if search_model == 'name__icontains' %}
                            selected
                    {% endif %}>姓名
                    </option>
                </select>
            </div>
            <div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
                       aria-describedby="button-addon2" name="search_value" {% if search_value %}
                       value="{{ search_value }}"
                {% endif %} ></div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
            </div>
        </div>
    </form>
    <form action="" method="post">
        {% csrf_token %}

        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <input type="checkbox" id="full-select">全选
                </th>
                <th>序号</th>
                <th>QQ</th>
                <th>姓名</th>
                <th>性别</th>
                <th>客户来源</th>
                <th>咨询课程</th>
                <th>状态</th>
                <th>销售</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in all_customers_filter %}
                <tr>
                    <td><input type="checkbox" name="selected" value="{{ customer.id }}"></td>
                    <td>{{ forloop.counter }}</td>
                    {#                <td>{{ request|list_number:forloop.counter }}</td>#}
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.get_sex_display }}</td>
                    <td>{{ customer.get_source_display }}</td>
                    <td>{{ customer.get_course_display }}</td>
                    <td {% if  customer.get_status_display == "未报名" %}
                        class="table-warning" {% else %}class="table-success"
                    {% endif %} >{{ customer.get_status_display }}</td>
                    <td>{{ customer.consultant.username|default:'暂无' }}</td>
                    <td>
                        {% if request.path|page_title == '私户信息展示' %}
                            <a href="{% url 'app01:consult_recode' %}?customer_id={{ customer.id }}" title="查看跟进信息"><i
                                class="fa fa-search-plus"></i>&nbsp;</a>
                        |
                        {% endif %}
                        <a href="{% url_encode request 'app01:customer_edit' customer.id %}" title="编辑"><i
                                class="fa fa-pencil"></i>&nbsp;</a>
                        |<a href="{% url_encode request 'app01:customer_del' customer.id all_customers_filter|length %}"
                            title="删除">&nbsp;<i
                            class="fa fa-remove"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">查询结果为空,请重新输入搜索条件！</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">{{ page_html|safe }}</div>
            <div class="input-group mb-3 col-sm-3 offset-3">
                <div class="input-group-prepend col-sm-4 offset-4">
                    <select class="form-control" name="bulk_action">
                        {% if request.path|page_title == '公户信息展示' %}
                            <option value="transfer_gs">公转私</option>
                        {% endif %}
                        {% if request.path|page_title == '私户信息展示' %}
                            <option value="transfer_sg">私转公</option>
                        {% endif %}
                    <option value="bulk_del">删除</option>
                    </select>
                </div>
                <div class="input-group-append col-sm-4">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">批量操作</button>
                </div>
            </div>
        </div>

    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for name in msg %}
                        <tr>{{ name }},</tr>
                    {% endfor %}
                    这些用户已被其他销售选走！

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscode %}
    <script>
        $("#full-select").click(function () {
            if ($(this).prop('checked')) {
                $("[name='selected']").prop('checked', true);
            } else {
                $("[name='selected']").prop('checked', false);
            }
        });

        (function f() {
            var msg = '{{ msg }}';
            if (msg !== '') {
                {#confirm(msg);#}
                $('#exampleModal').modal("toggle");
            }
        })();
    </script>
{% endblock %}